.venv/
.vscode/

# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/

# Editor Temps
.*.sw?
*~
\#*\#
.desktop
fdl-run-command/command.status
fdl-run-command/command.output
fdl-run-command/command.error
.env
